# Projeto #2 - Classificador supervisionado

Antes de começar, leia as [Instruções](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_2#instru%C3%A7%C3%B5es) e os [Critérios de Avaliação](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_2#crit%C3%A9rios-de-avalia%C3%A7%C3%A3o)

### 1) Qual a base escolhida?

In [131]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import KFold
from sklearn import ensemble
from sklearn.ensemble import RandomForestClassifier

# Base Escolhida: Forest covertypes - https://archive.ics.uci.edu/ml/datasets/Covertype

from google.colab import drive
drive.mount('/content/drive', force_remount=True)
arquivo_base = '/content/drive/My Drive/covtype.csv'

df = pd.read_csv(arquivo_base, sep=',')
df.head()

Mounted at /content/drive

   Elevation  Aspect  slope  ...  Soil_Type_39  Soil_Type_40  Cover_Type
0       2596      51      3  ...             0             0           5
1       2590      56      2  ...             0             0           5
2       2804     139      9  ...             0             0           2
3       2785     155     18  ...             0             0           2
4       2595      45      2  ...             0             0           5

[5 rows x 55 columns]

### 2) **(10%)** Pré-processamento: entendimento do conjunto de dados

In [0]:
# Quais são as minhas features?

# Elevation, 
# Aspect, 
# Slope, 
# Horizontal Distance to Hydrology, 
# Vertical Distance to Hydrology, 
# Horizontal Distance to Roadways, 
# Hillshade at 9am, 
# Hillshade at Noon, 
# Hillshade at 3pm, 
# Horizontal Distance to fire points,
# Wilderness Area (4 tipos), 
# Soil Type (40 tipos), 
# Cover_Type (o que queremos classificar)

# Quais são as minhas classes?
# 1: Spruce/Fir
# 2: Lodgepole Pine
# 3: Ponderosa Pine
# 4: Cottonwood/Willow
# 5: Aspen
# 6: Douglas-fir
# 7: Krummholz

In [0]:
#Como estão distribuídas as minhas classes?
df.groupby('Cover_Type').size()

Cover_Type
1    211840
2    283301
3     35754
4      2747
5      9493
6     17367
7     20510
dtype: int64

In [133]:
# Checagem se os valores estão dentro de um limite permitido ou razoável.
df.describe()

           Elevation         Aspect  ...   Soil_Type_40     Cover_Type
count  581012.000000  581012.000000  ...  581012.000000  581012.000000
mean     2959.365301     155.656807  ...       0.015060       2.051471
std       279.984734     111.913721  ...       0.121791       1.396504
min      1859.000000       0.000000  ...       0.000000       1.000000
25%      2809.000000      58.000000  ...       0.000000       1.000000
50%      2996.000000     127.000000  ...       0.000000       2.000000
75%      3163.000000     260.000000  ...       0.000000       2.000000
max      3858.000000     360.000000  ...       1.000000       7.000000

[8 rows x 55 columns]

### 3) **(80%)** Nos blocos seguintes implemente seus classificadores (serão implementados 2 métodos diferentes).

#### 3.1) Qual método escolhido?
> Naive Bayes

#### 3.2) **(10%)** Baseline - Implemente seu classificador da forma mais simples possível para esse ser seu baseline

In [0]:
# Dividindo o dataset em treino e teste. Meu y é a coluna que queremos classificar, cover_type
y = df['Cover_Type']
df = df.drop(['Cover_Type'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(df,
                                                    y, 
                                                    test_size=0.25)

In [0]:
classificador = GaussianNB()
classificador.fit(X_train, y_train)

y_pred = classificador.predict(X_test)

In [136]:
acuracia = accuracy_score(y_pred, y_test)

print("Acurácia Inicial: " + str(acuracia))

Acurácia Inicial: 0.4598115013115048

#### 3.3) **(20%)** Versão 1 - O que podemos fazer para melhorar nosso baseline? Aplique técnicas como redução de dimensionalidade, normalização ou outras. Compare os resultados.

In [137]:
# Redução de dimensionalidade usando a técnica de análise de variância
sel = VarianceThreshold(threshold=0.05)
df_variance_threshold = sel.fit_transform(df)
df_variance_threshold[0:5,:]

array([[2596,   51,    3,  258,    0,  510,  221,  232,  148, 6279,    1,
           0,    0,    0,    0,    0,    1,    0,    0],
       [2590,   56,    2,  212,   -6,  390,  220,  235,  151, 6225,    1,
           0,    0,    0,    0,    0,    1,    0,    0],
       [2804,  139,    9,  268,   65, 3180,  234,  238,  135, 6121,    1,
           0,    0,    0,    0,    0,    0,    0,    0],
       [2785,  155,   18,  242,  118, 3090,  238,  238,  122, 6211,    1,
           0,    0,    0,    0,    0,    0,    0,    0],
       [2595,   45,    2,  153,   -1,  391,  220,  234,  150, 6172,    1,
           0,    0,    0,    0,    0,    1,    0,    0]])

In [138]:
# De 54 features, agora temos 19

print(df.shape)
print(df_variance_threshold.shape)
print(df_variance_threshold)

(581012, 54)
(581012, 19)
[[2596   51    3 ...    1    0    0]
 [2590   56    2 ...    1    0    0]
 [2804  139    9 ...    0    0    0]
 ...
 [2386  159   17 ...    0    0    0]
 [2384  170   15 ...    0    0    0]
 [2383  165   13 ...    0    0    0]]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df_variance_threshold,
                                                    y, 
                                                    test_size=0.25)

classificador.fit(X_train, y_train)

y_pred = classificador.predict(X_test)

In [140]:
acuracia = accuracy_score(y_pred, y_test)
print("Acurácia após Redução de Dimensionalidade: " + str(acuracia))

Acurácia após Redução de Dimensionalidade: 0.5055936882542873

#### 3.4) **(10%)** Tunning - Agora que temos um resultado promissor, vamos tentar melhorar o resultado alterando um ou mais hiper-parametro. Compare os resultados.

In [142]:
# Tunning

Acuracia de 0.5065437546900925

#### 3.5) Qual método escolhido?

Random Forest

#### 3.6) **(10%)** Baseline - Implemente seu classificador da forma mais simples possível para esse ser seu baseline

In [144]:

X_train, X_test, y_train, y_test = train_test_split(df,
                                                    y, 
                                                    test_size=0.25)

classificadorRF = RandomForestClassifier(max_depth=2, random_state=0)
classificadorRF.fit(X_train, y_train)

y_predRF = classificadorRF.predict(X_test)

[2.01095364e-01 3.47401242e-03 3.92997289e-03 1.87700140e-03
 1.04959844e-03 4.35290163e-02 2.46060284e-03 7.53109679e-04
 8.99628560e-04 2.96119354e-02 3.16823989e-02 1.90104902e-02
 1.50586833e-03 1.89394655e-01 3.95366444e-03 7.62508678e-03
 5.46050700e-04 4.34186982e-02 1.16257296e-03 1.23450205e-02
 0.00000000e+00 0.00000000e+00 0.00000000e+00 8.77672873e-02
 7.89524013e-04 7.92140908e-02 6.50352038e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00180196e-01
 2.23592823e-02 1.29076511e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.93324350e-02 1.63229129e-03
 7.69039601e-05 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.76867228e-02
 4.19540570e-02 1.30498638e-02]

In [145]:
acuracia = accuracy_score(y_predRF, y_test)
print("Acurácia de "+str(acuracia))

Acurácia de 0.5675338891451468

#### 3.7) **(20%)** Versão 1 - O que podemos fazer para melhorar nosso baseline? Aplique técnicas como redução de dimensionalidade, normalização ou outras. Compare os resultados.

In [0]:
# aplicando o treino no df_variance_threshold onde foi aplicada a redução da dimensionalidade

X_train, X_test, y_train, y_test = train_test_split(df_variance_threshold,
                                                    y, 
                                                    test_size=0.25)

classificadorRF = RandomForestClassifier(max_depth=2, random_state=0)
classificadorRF.fit(X_train, y_train)

y_predRF = classificadorRF.predict(X_test)

In [147]:
acuracia = accuracy_score(y_predRF, y_test)
print("Acurácia de "+str(acuracia))

Acurácia de 0.6479521937584766

#### 3.8) **(10%)** Tunning - Agora que temos um resultado promissor, vamos tentar melhorar o resultado alterando um ou mais hiper-parametro. Compare os resultados.

In [148]:
classificadorRF = RandomForestClassifier(n_estimators=100, max_depth=10, max_features=0.3, bootstrap=True, min_samples_leaf=1, n_jobs=-1)
classificadorRF.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features=0.3,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [149]:
y_predRF = classificadorRF.predict(X_test)
acuracia = accuracy_score(y_predRF, y_test)
print("Acurácia de "+str(acuracia))

Acurácia de 0.7788479411784954

### 5) **(10%)** Conclusões

*Compare seus resultados. Imaginando que sua solução fosse para produção, qual deles você escolheria? Por que? Quais os riscos você enxerga? O que recomendaria de próximos passos para melhorar os resultados?*